@import '../../styles.scss';

.landing{
  height: 100vh;
  @extend %flex-center;
  flex-direction: column;

  h1{
    font-size: calc(3vw + 32px);
  }

  h3{
    font-size: calc(0.5vw + 12px);
    color: $gray-color;
  }

  a{
    @extend %button-setup;    
    &:hover{
      @extend %hover-accent;
    }
    margin: 12px;
  }

  &__button{
    margin: 24px;
  }
}
